@model FromLocalsToLocals.Models.User

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<head>
    <style>
        #login-form {
            position: absolute;
            top: auto;
            left: auto;
           
            padding: 10px 10px;
        }
        .field-validation-error{
            color: red;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>


<body>
    <div id="login-form">
        @using (Html.BeginForm("LoginUser", "Login", FormMethod.Post))
        {
        <table>
            <p>
                Username
                @Html.TextBoxFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)

            </p>
            

            <p>
                Password
                @Html.PasswordFor(model => model.HashedPsw)
                @Html.ValidationMessageFor(model => model.HashedPsw)
            </p>
            


        </table>
            <form asp-action="LoginUser">
                <input type="submit" value="Confirm" class="btn btn-danger" />
            </form>
        }

    </div>

</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}