@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@model IEnumerable<FromLocalsToLocals.Models.Vendor>
@inject UserManager<AppUser> usermanager

@{
    ViewData["Title"] = _localizer["Home Page"];
}
<body>
    <div class="row" style="background: url(/Assets/vendorM.png);">
        <div class="container-fluid" style="background-size: cover;">
            <section>
                <div class="container" style="margin-top: 65px; margin-bottom: 65px;">
                    <header>
                        <p class="text-center text-capitalize mb-lg-1 font-weight-bold" style="font-size: 38px; font-family: 'Times New Roman'; color: white;">@_localizer["Support your local sellers"]</p>
                    </header>
                    <footer class="text-center">
                        <a class="btn btn-danger" role="button" asp-area="" asp-controller="Vendors" asp-action="AllVendors" style="width: 130px;">@_localizer["Go"]</a>
                        <a class="btn btn-outline-danger" role="button" asp-area="" asp-controller="Home" asp-action="AboutUs" style="width: 130px;">@_localizer["Read More"]</a>
                    </footer>
                </div>
            </section>
        </div>
    </div>
    



    <p id="mapTitle" class="mt-3"></p>
    <p class="text-center font-weight-bold mt-lg-5" style="font-size: 20px;">@_localizer["Discover all nearby vendors with just a few clicks."]</p>
    <div class="container">
        <div class="row mb-3 justify-content-center d-flex">
            @Html.Partial("_Map", Model)
        </div>
    </div>
    <p class="text-center font-weight-bold mb-3 mt-lg-5" style="font-size: 20px;">@_localizer["Experience all the finest products around you."]</p>
    <hr />
    <!--Think of smth to put here instead of deleted cards-->
    <div class="card, form-inline">
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p style="font-style:italic;">A big business starts small.</p>
                <footer class="blockquote-footer">Richard Branson</footer>
            </blockquote>
        </div>
    </div>
</body>