@model FromLocalsToLocals.Models.ViewModels.FeedVM
@using static FromLocalsToLocals.Utilities.TimeCalculator
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="content" class="content content-full-width newsFeedPanel">
                <!-- begin profile-content -->
                <div class="profile-content">
                    <!-- begin tab-content -->
                    <div class="tab-content p-0">
                        <!-- begin #profile-post tab -->
                        <div class="tab-pane fade active show" id="profile-post">
                            <!-- begin timeline -->
                            <ul class="timeline" id="postsUL">
                                @foreach (var x in Model.Posts)
                                {
                                    <li class="postsL">
                                        <!-- begin timeline-time -->
                                        <div class="timeline-time">
                                            <span class="time">@CalcRelativeTime(x.Date)</span>
                                        </div>
                                        <!-- end timeline-time -->
                                        <!-- begin timeline-icon -->
                                        <div class="timeline-icon">
                                            <a href="javascript:;">&nbsp;</a>
                                        </div>
                                        <!-- end timeline-icon -->
                                        <!-- begin timeline-body -->
                                        <div class="timeline-body">
                                            <div class="timeline-header">
                                                @if (x.Vendor.Image == null)
                                                {
                                                    <span class="userimage"><img src="~/Assets/localSeller.png" alt=""></span>

                                                }
                                                else
                                                {
                                                    <span class="userimage"><img src="data:image;base64,@System.Convert.ToBase64String(x.Vendor.Image)" alt=""></span>

                                                }
                                                @if (Model.DisplayInDetails)
                                                {
                                                    <span class="username"><a href="javascript:;">@Model.Vendor.Title</a> <small></small></span>
                                                }
                                                else
                                                {
                                                    <span class="username"><a href="/Vendors/Details/@x.Vendor.ID">@x.Vendor.Title</a> <small></small></span>
                                                }
                                            </div>
                                            <div class="timeline-content">
                                                    <p>
                                                    @x.Text
                                                    </p>
                                                @if (x.Image != null)
                                                {
                                                <div class="row">
                                                    <img src="data:image;base64,@System.Convert.ToBase64String(x.Image)" style="width: 100%; max-height: 250px;" />
                                                </div>
                                                }
                                            </div>
                                        </div>
                                        <!-- end timeline-body -->
                                    </li>
                                }
                            </ul>
                            <!-- end timeline -->
                        </div>
                        <!-- end #profile-post tab -->
                    </div>
                    <!-- end tab-content -->
                </div>
                <!-- end profile-content -->
            </div>
        </div>
    </div>
</div>
@{ 
    int vId;
    string vTitle;
    string vDate;
    if (Model.Vendor == null) {
        vId = 0;
        vTitle = "";
        vDate = "";
    }
    else
    {
        vTitle = Model.Vendor.Title;
        vDate = Model.Vendor.DateCreated;
        vId = Model.Vendor.ID;
    }

    string userID;
    if (Model.ActiveUser == null)
    {
        userID = "";
    }
    else
    {
        userID = Model.ActiveUser.Id;
    }
}
<script>
    var details;
    var tab;
    var userID;
    var vendorID;
    var vendorTitleImp;
    var vendorDate;

    $(document).ready(() => {
        details = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.DisplayInDetails))
            tab = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ActiveTab))
            userID = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(userID))
        if (details) {
            vendorID = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(vId))
            vendorTitleImp = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(vTitle))
            vendorDate = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(vDate))


            $(".newsFeedPanel").addClass("pre-scrollable");
        }
    });
</script>
<script src="~/js/feed.js"></script>
