@model FromLocalsToLocals.Models.ViewModels.FeedVM
@using static FromLocalsToLocals.Utilities.TimeCalculator
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="content1" onscroll="scrollFeedDetails()" class="content content-full-width newsFeedPanel"  >
                <!-- begin profile-content -->
                <div class="profile-content">
                    <!-- begin tab-content -->
                    <div class="tab-content p-0">
                        <!-- begin #profile-post tab -->
                        <div class="tab-pane fade active show" id="profile-post" data-aos="fade-left" >
                            <!-- begin timeline -->
                            <ul class="timeline" id="postsUL">
                       
                            </ul>
                            <!-- end timeline -->
                        </div>
                        <!-- end #profile-post tab -->
                    </div>
                    <!-- end tab-content -->
                </div>
                <!-- end profile-content -->
            </div>
        </div>
    </div>
</div>
@{ 
    int vId;
    string vTitle;
    string vDate;
    IEnumerable<Vendor> vendors = new List<Vendor>();
    if (Model.Vendor == null) {
        vId = 0;
        vTitle = "";
        vDate = "";
    }
    else
    {
        vTitle = Model.Vendor.Title;
        vDate = Model.Vendor.DateCreated;
        vId = Model.Vendor.ID;
    }

    string userID;
    if (Model.ActiveUser == null)
    {
        userID = "";
    }
    else
    {
        userID = Model.ActiveUser.Id;
        vendors = Model.ActiveUser.Vendors;
    }
}
<script>



    var details;
    var tab;
    var userID;
    var vendorID;
    var vendorTitleImp;
    var vendorDate;

    var allUserVendors;

    $(document).ready(() => {
        details = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.DisplayInDetails))
            tab = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ActiveTab))
            userID = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(userID))
            allUserVendors = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(vendors));

        if (details) {
            vendorID = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(vId))
            vendorTitleImp = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(vTitle))
            vendorDate = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(vDate))

            $(".newsFeedPanel").addClass("pre-scrollable");
        }
    });
</script>
<script src="~/js/feed.js"></script>
