@model AppUser


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="~/css/chat.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-sm-12 mt-5">
            <div class="panel panel-white border-top-green">
                <div class="panel-body chat">
                    <div class="row chat-wrapper">

                        <!--Left side-->
                        <div class="col-md-4">
                            <div>
                                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 550px;">
                                    <div class="chat-list-wrapper" style="overflow-y: auto; overflow-x:hidden" width: auto; height: 550px;">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button onclick="mySentMsgs()" class="btn" style="width:100%">My sent</button>
                                            </div>
                                            <div class="col-md-6">
                                                <button onclick="myVendorsMsgs()" class="btn active" style="width:100%">My Vendors</button>
                                            </div>
                                        </div>
                                        <hr class="m-0">
                                    
                                        <!--List of other vendors which user contacted-->
                                        <ul id="mySentMsgs" class="chat-list" style="display:none">
                                            @if (Model.Image != null)
                                            {<li style="display:none">
                                                <img src="data:image;base64,@System.Convert.ToBase64String(Model.Image)" alt="avatar" id="@Model.UserName-img" class="img-circle" style="display:none" />
                                            </li>
                                            }
                                            else
                                            {<li style="display:none">
                                                 <img src="~/Assets/profile.png" id="@Model.UserName-img" alt="avatar" class="img-circle" style="display:none" />
                                            </li>
                                            }
                                            @foreach (var c in Model.Contacts)
                                            {

                                                <li class="new" onclick='loadMessages(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(c.Messages)),@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(c.User.UserName)),@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(c.Vendor.Title)), false)'>
                                                    <span class="avatar">
                                                        @if (c.Vendor.Image != null)
                                                        {
                                                            <img src="data:image;base64,@System.Convert.ToBase64String(c.Vendor.Image)" id="@c.Vendor.Title-img" alt="avatar" class="img-circle" />
                                                        }
                                                        else
                                                        {
                                                            <img src="~/Assets/appLogo.png" id="@c.Vendor.Title-img" alt="avatar" class="img-circle" />
                                                        }
                                                    </span>
                                                    <div class="body">
                                                        <div class="header">
                                                            <span class="username">@c.Vendor.Title</span>
                                                            <small class="timestamp text-muted">
                                                                <i class="fa fa-clock-o"></i>@c.Messages.Last().Date
                                                            </small>
                                                        </div>
                                                        <p>
                                                            @c.Messages.Last().Text
                                                        </p>
                                                    </div>
                                                </li>
                                            }
                                        </ul>



                                        <!--List of user vendors that other users contacted -->
                                        <div class="accordion active" id="listOfVendors">
                                            @foreach (var v in Model.Vendors)
                                            {
                                                <div class="card">
                                                    <div class="card-header" id="@v.Title + 'H'">
                                                        <h5 class="mb-0">
                                                            <button class="btn" type="button" data-toggle="collapse" data-target="#@v.Title" aria-expanded="true" aria-controls="collapseOne">
                                                                @if (v.Image != null)
                                                                {
                                                                    <img src="data:image;base64,@System.Convert.ToBase64String(v.Image)" alt="avatar" id="@v.Title-img" class="img-circle" style="width:50px;height:50px;"/>
                                                                }
                                                                else
                                                                {
                                                                    <img src="~/Assets/appLogo.png" id="@v.Title-img" alt="avatar" class="img-circle" style="width:50px;height:50px;" />
                                                                }
                                                                @v.Title
                                                            </button>
                                                        </h5>
                                                    </div>

                                                    <div id="@v.Title" class="collapse" aria-labelledby="@v.Title + 'H'" data-parent="#listOfVendors">
                                                        <div class="card-body" style="padding:0;">
                                                            <ul class="chat-list">
                                                                @foreach (var c in v.Contacts)
                                                                {
                                          
                                                                    <li class="new" onclick='loadMessages(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(c.Messages)),@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(c.User.UserName)),@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(c.Vendor.Title)), true)' >
                                                                        <span class="avatar">
                                                                            @if (c.User.Image != null)
                                                                            {
                                                                                <img src="data:image;base64,@System.Convert.ToBase64String(c.User.Image)" alt="avatar" id="@c.User.UserName-img" class="img-circle" />
                                                                            }
                                                                            else
                                                                            {
                                                                                <img src="~/Assets/profile.png" id="@c.User.UserName-img" alt="avatar" class="img-circle" />
                                                                            }
                                                                        </span>
                                                                        <div class="body">
                                                                            <div class="header">
                                                                                <span class="username">@c.User.UserName</span>
                                                                                <small class="timestamp text-muted">
                                                                                    <i class="fa fa-clock-o"></i>@c.Messages.Last().Date
                                                                                </small>
                                                                            </div>
                                                                            <p>
                                                                                @c.Messages.Last().Text
                                                                            </p>
                                                                        </div>
                                                                    </li>


                                                                }
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>


                                    </div><div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 478.639px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
                                </div>
                            </div>

                            <!--END Left side-->
                        </div>

                        <!--Right side-->
                        <div class="col-md-8">
                            <div id="chattingWith" style="font-size:20px;" class="text-center"></div>
                            <div>
                                <!--Messages-->
                                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 452px;">
                                    <div class="message-list-wrapper" style="overflow: hidden; width: auto; height: 452px;">
                                        <ul class="message-list pre-scrollable" style="max-height:452px;" id="messagesList">
                                        </ul>
                                    </div><div class="slimScrollBar" style="width: 7px; position: absolute; top: 265px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 187.092px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
                                </div>

                                <!--Send message-->
                                <div class="compose-box">
                                    <div class="row mr-1 ml-1">
                                        <textarea id="btn-input" class="form-control input-sm" placeholder="Type your message here..."></textarea>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4">
                                            <button class="btn btn-green btn-sm pull-right w-100" style="justify-content:center">
                                                <i class="fa fa-location-arrow"></i> Send
                                            </button>
                                        </div>
                                        <div class="col-md-4"></div>

                                    </div>
                                </div>

                            </div>
                            <!--END Right side-->
                        </div>


                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


<script src="~/js/chat.js"></script>
