@model FromLocalsToLocals.Models.VendorTypeViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@inject UserManager<AppUser> usermanager
@using Microsoft.EntityFrameworkCore

@{
    ViewData["Title"] = _localizer["All Services"];
    Layout = "~/Views/Shared/_Layout.cshtml";


    var prevDisabled = !Model.Vendors.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Vendors.HasNextPage ? "disabled" : "";
    var vendorType = Html.ViewContext.HttpContext.Request.Query["vendorType"];
    var searchString = Html.ViewContext.HttpContext.Request.Query["searchString"];
    var itemCount = Html.ViewContext.HttpContext.Request.Query["itemCount"];
    var itemCountDouble = (!string.IsNullOrEmpty(itemCount)) ? double.Parse(itemCount) : 20;

    var user = await usermanager.GetUserAsync(User);
}

<head>
    <style>
        .card {
            overflow: hidden;
            max-height: 450px;
            min-height: 450px;
            max-width: 290px;
            min-width: 250px;
            box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
        }
    </style>
</head>
@{
    var itemsInRow = 4; // Make sure its divisible by 12
    var rows = Math.Ceiling(itemCountDouble / itemsInRow);
    var vendorCount = Model.Vendors.Count;
}
<h3 class="mt-4 mb-2" style="text-align: center;">@_localizer["New Services"]</h3>
<p class="mt-2" style="text-align: center; font-size: 18px;">@_localizer["Services in the past month registered on our site"]</p>
<hr />
@if (Model.NewVendors.Count() == 0)
{
    <p class="mt-2 mb-2 text-center" style="font-size: 21px; border-radius: 7px;">@_localizer["No new services:"]<br /><br /><b>@_localizer["But there might be some soon!"]</b></p>
    <hr />
}
else
{
    <div class="row" style="background-color: #CCBA8B;">
        @foreach (var vendor in Model.NewVendors)
        {
            <div class="col-sm-@(12 / itemsInRow) mb-3 mt-3 d-flex justify-content-center" style="min-width:300px;">
                <div class="card" style="width:inherit; height:inherit; background-color: #F7F7F7;">
                    @if (vendor.Image == null)
                    {
                        <img src="~/Assets/localSeller.png" class="mt-3" style="width:160px ; height:150px; border-radius: 50%; align-self:center;" />
                    }
                    else
                    {
                        <img src="data:image;base64,@System.Convert.ToBase64String(vendor.Image)" class="mt-3" style="width:160px; height: 150px; border-radius: 50%; align-self:center;" />
                    }
                    <div class="card-body">
                        <h5 class="card-title" style="margin:0px;">@vendor.Title</h5>
                        <hr />
                        @switch (vendor.VendorTypeDb)
                        {
                            case "CarRepair":<p class="text-muted text-uppercase">@_localizer["Car repair"]</p>
                            break;

                        case "RuralTourism":<p class="text-muted text-uppercase">@_localizer["Rural tourism"]</p>
                        break;

                    default: <p class="text-muted text-uppercase">@vendor.VendorTypeDb</p>
                    break;
            }
                        <hr />
                        @if (vendor.ReviewsCount.Sum() == 0)
                        {
                            <p class="font-italic">@_localizer["No Reviews"]</p>
                        }
                        else
                        {
                            @switch (@Math.Round(vendor.Average))
                            {
                                case 5:
                                    <p class="ml-3 ">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span>@vendor.Average.ToString("0.0")</span>
                                    </p>
                                    break;
                                case 4:
                                    <p class="ml-3">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span>@vendor.Average.ToString("0.0")</span>
                                    </p>
                                    break;
                                case 3:
                                    <p class="ml-3">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span>@vendor.Average.ToString("0.0")</span>
                                    </p>
                                    break;
                                case 2:
                                    <p class="ml-3">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span>@vendor.Average.ToString("0.0")</span>
                                    </p>
                                    break;
                                default:
                                    <p class="ml-3">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span>@vendor.Average.ToString("0.0")</span>
                                    </p>
                                    break;
                            }
                        }
                        <hr />
                        <div class="navbar" style="align-content:center">
                            <a asp-route-id="@vendor.ID" asp-controller="Vendors" asp-action="Details"
                               class="btn btn-primary" style="background-color: #CCBA8B; border: 2px #CCBA8B;">@_localizer["Read More"]</a>
                            <a asp-route-id="Vendor/@vendor.ID" asp-controller="Reviews" asp-action="Reviews"
                               class="btn btn-primary" style="background-color: #CCBA8B; border: 2px #CCBA8B;">@_localizer["Reviews"]</a>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
}
<h3 class="mt-4" style="text-align: center;"> @_localizer["All Services"]</h3>
<p class="mt-2" style="text-align: center; font-size: 18px;">@_localizer["Experience all the finest products around you"]</p>
<hr />
<p>
    <a type="button" data-toggle="collapse" href="#serviceFilter" role="button" aria-expanded="false" aria-controls="serviceFilter" style="color: black; font-size: 19px;">
        <img src="~/Assets/filter.png" class="mr-2" style="width:30px; height:30px;" /> @_localizer["Filters"]
    </a>
</p>
<div class="collapse" id="serviceFilter">
    <form asp-action="AllVendors" method="get" class="container-fluid">
        <div class="row">
            <select asp-for="VendorType" asp-items="Model.Types" class="btn btn-primary dropdown-toggle m-3" data-toggle="dropdown">
                <option value="">@_localizer["All"]</option>
            </select>
            <select asp-for="OrderType" asp-items="Model.OrderTypes" class="btn btn-primary dropdown-toggle m-3"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <option value="">@_localizer["Random"]</option>
            </select>
        </div>
        <div class="row">
            <input type="text" class="m-3" name="searchString" placeholder=@_localizer["Title"] /><p class="mt-3">@_localizer["Items per page:"]</p>
            <input type="number" class="mb-3 mt-3" min="1" max="50" name="itemCount" value=@itemCountDouble style="width: 50px;" />
        </div>
        <div class="row">
            <input class="btn btn-primary m-3" style="float:right; width: 100px;" type="submit" value=@_localizer["Filter"] />
        </div>
    </form>
</div>
<hr />
@if (vendorCount == 0)
{
    <div class="row d-flex justify-content-center">
        <img src="~/Assets/suchEmpty.png" style="width:80%;" />
    </div>
}
else
{
    @for (int i = 0; i < rows; i++)
    {
        <div class="row">
            @for (int j = 0; j < itemsInRow && i * itemsInRow + j < vendorCount; j++)
            {
                <div class="col-sm-@(12 / itemsInRow) mb-2 d-flex justify-content-center">
                    <div class="card" style="width:inherit; height:inherit; background-color: #F7F7F7;">
                        @if (Model.Vendors[i * itemsInRow + j].Image == null)
                        {
                            <img src="~/Assets/localSeller.png" class="mt-3" style="width:160px ; height:150px; border-radius: 50%; align-self:center;" />
                        }
                        else
                        {
                            <img src="data:image;base64,@System.Convert.ToBase64String(Model.Vendors[i * itemsInRow + j].Image)" class="mt-3" style="width:160px; height: 150px; border-radius: 50%; align-self:center;" />
                        }
                        <div class="card-body">
                            <h5 class="card-title" style="margin:0px;">@Model.Vendors[i * itemsInRow + j].Title</h5>
                            <hr />
                            @switch (Model.Vendors[i * itemsInRow + j].VendorTypeDb)
                            {
                                case "CarRepair":<p class="text-muted text-uppercase">@_localizer["Car repair"]</p>
                                break;

                            case "RuralTourism":<p class="text-muted text-uppercase">@_localizer["Rural tourism"]</p>
                            break;

                        default: <p class="text-muted text-uppercase">@Model.Vendors[i * itemsInRow + j].VendorTypeDb</p>
                        break;
                }
                            <hr />
                            @if (Model.Vendors[i * itemsInRow + j].ReviewsCount.Sum() == 0)
                            {
                                <p class="font-italic">@_localizer["No Reviews"]</p>
                            }
                            else
                            {
                                @switch (@Math.Round(Model.Vendors[i * itemsInRow + j].Average))
                                {
                                    case 5:
                                        <p class="ml-3 ">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span>@Model.Vendors[i * itemsInRow + j].Average.ToString("0.0")</span>
                                        </p>
                                        break;
                                    case 4:
                                        <p class="ml-3">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span>@Model.Vendors[i * itemsInRow + j].Average.ToString("0.0")</span>
                                        </p>
                                        break;
                                    case 3:
                                        <p class="ml-3">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span>@Model.Vendors[i * itemsInRow + j].Average.ToString("0.0")</span>
                                        </p>
                                        break;
                                    case 2:
                                        <p class="ml-3">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span>@Model.Vendors[i * itemsInRow + j].Average.ToString("0.0")</span>
                                        </p>
                                        break;
                                    default:
                                        <p class="ml-3">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span>@Model.Vendors[i * itemsInRow + j].Average.ToString("0.0")</span>
                                        </p>
                                        break;
                                }
                            }
                            <hr />
                            <div class="navbar" style="align-content:center">
                                <a asp-route-id="@Model.Vendors[i * itemsInRow + j].ID" asp-controller="Vendors" asp-action="Details"
                                   class="btn btn-primary" style="background-color: #CCBA8B; border: 2px #CCBA8B;">@_localizer["Read More"]</a>
                                <a asp-route-id="Vendor/@Model.Vendors[i * itemsInRow + j].ID" asp-controller="Reviews" asp-action="Reviews"
                                   class="btn btn-primary" style="background-color: #CCBA8B; border: 2px #CCBA8B;">@_localizer["Reviews"]</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}
<hr />
<ul class="pagination">
    <li class="page-item @prevDisabled">
        <a class="page-link" href="@Url.Action("AllVendors", new {itemCount=itemCount, searchString = searchString , vendorType=vendorType , page = (Model.Vendors.PageIndex - 1) } )"><<</a>
    </li>
    @for (int i = 1; i <= Model.Vendors.TotalPages; i++)
    {
        <li class="@(i == Model.Vendors.PageIndex ? "page-item active" : "page-item")">
            <a class="page-link" href="@Url.Action("AllVendors", new {itemCount=itemCount, searchString = searchString , vendorType=vendorType , page = i })">@i</a>
        </li>
    }
    <li class="page-item @nextDisabled">
        <a class="page-link" href="@Url.Action("AllVendors", new {itemCount=itemCount, searchString = searchString , vendorType=vendorType ,page = (Model.Vendors.PageIndex + 1) } )">>></a>
    </li>
</ul>