@model IEnumerable<FromLocalsToLocals.Contracts.Entities.Vendor>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = _localizer["MyVendors"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-4" style="text-align: center;" id="myservices">@_localizer["My Services"]</h2>
<hr />
<p>
    <!--Space after plus symbol is NEEDED-->
    <a class="btn btn-primary mt-3 mb-3" asp-action="Create"><span class="fa fa-plus"></span> @_localizer["Add a service"]</a>
</p>
<table class="table" id="Table1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorTypeDb)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>

                @switch (item.VendorTypeDb)
                {
                    case "CarRepair":
                        <td>Car Repair</td>
                        break;

                    case "RuralTourism":
                        <td>Rural Tourism</td>
                        break;

                    default:
                        <td>
                            @Html.DisplayFor(modelItem => item.VendorTypeDb)
                        </td>
                        break;
                }

                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">@_localizer["Edit"]</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">@_localizer["Details"]</a> |
                    <a href="#" data-target="#deleteModal" data-toggle="modal" class="identifyingClass" data-title="@item.Title" data-id="@item.ID">@_localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="dialog">
        <div class="modal-content">
            <div class="modal-body">
                @_localizer["Are you sure you want to delete "]<span name="vendorTitle" id="vendorTitle" value=""></span>"?
            </div>
            <div class="modal-footer">
                <button type="button" class="close btn btn-default" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">@_localizer["Cancel"]</span>
                </button>
                <a type="button" class="btn btn-danger">@_localizer["Delete"]</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(".identifyingClass").click(function () {
            var vendorId = $(this).data('id');
            document.getElementById("vendorTitle").textContent = $(this).data('title');
            $('.modal-footer a').attr('href', '/Vendors/Delete/' + vendorId);
        })
    });
</script>



