@using FromLocalsToLocals.Utilities.Enums
@model FromLocalsToLocals.Web.ViewModels.AdminViewModel

<div class="row justify-content-center">
    <h3 class="mt-5 mb-2">Amount of received reports: ę</h3>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createReportModal">
    Launch demo report
</button>
<h1>Total amount of reports: @Model.Reports.Count</h1>
@if (Model.Reports != null)
{
    foreach (var report in Model.Reports)
    {
        <form method="post">
            <div class="row justify-content-center">
                <div class="card report-post text-dark mt-3 mb-3 col-9">
                    <div class="card-header">
                        @report.CreatedDate.ToString("yyyy-MM-dd HH:mm:ss UTC")
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@Enum.GetName(typeof(ReportCategories), report.Category)</h5>
                        <p class="card-text">@report.UserId</p>
                        <p class="card-text"></p>
                        <a asp-route="@report.Href" class="btn text-light btn-primary">Go to</a>
                        <a href="#" class="btn btn-danger">Remove post</a>
               
                        <button type="submit" asp-controller="Admin" asp-action="DeleteReport" asp-route-id="@report.Id" class="btn btn-success">Decline review</button>
               
                    </div>
                </div>
            </div>
        </form>
    }
}
<div class="row justify-content-center">
    <div class="card report-post text-dark mt-3 mb-3 col-9">
        <div class="card-header">
            2021-04-01 20:00:00 UTC
        </div>
        <div class="card-body">
            <h5 class="card-title">Spam</h5>
            <p class="card-text">USERNAME</p>
            <a href="#" class="btn btn-primary">Go to</a>
            <a href="#" class="btn btn-danger">Remove post</a>
            <a href="#" class="btn btn-success">Decline review</a>
        </div>
    </div>
    <div class="card report-post text-dark mt-3 mb-3 col-9">
        <div class="card-header">
            2021-04-02 20:00:00 UTC
        </div>
        <div class="card-body">
            <h5 class="card-title">Nudity</h5>
            <p class="card-text">USERNAME</p>
            <a href="#" class="btn btn-primary">Go to</a>
            <a href="#" class="btn btn-danger">Remove post</a>
            <a href="#" class="btn btn-success">Decline review</a>
        </div>
    </div>
</div>

