@using FromLocalsToLocals.Utilities.Enums
@model FromLocalsToLocals.Web.ViewModels.AdminViewModel

<div class="row justify-content-center">
    <h1 class="mt-5 mb-2">Received Reports: @Model.Reports.Count</h1>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createReportModal">
    Launch demo report
</button>
@if (Model.Reports != null)
{
    foreach (var report in Model.Reports)
    {
        <form method="post">
            <div class="row justify-content-center">
                <div class="card report-post text-dark mt-3 mb-3 col-9">
                    <div class="card-header">
                        @report.CreatedDate.ToString("yyyy-MM-dd HH:mm:ss UTC")
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@Enum.GetName(typeof(ReportCategories), report.Category)</h5>
                        <p class="card-text">@report.UserId</p>
                        <p class="card-text"></p>
                        <a href="@report.Href" class="btn text-light btn-primary">Go to</a>
                        <a href="#" class="btn btn-danger">Remove post</a>
               
                        <button type="submit" asp-controller="Admin" asp-action="DeleteReport" asp-route-id="@report.Id" class="btn btn-success">Decline review</button>
               
                    </div>
                </div>
            </div>
        </form>
    }
}
