@model IEnumerable<FromLocalsToLocals.Contracts.Entities.Follower>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = _localizer["Following"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>

    <link href="~/css/removeFollowing.css" rel="stylesheet" type="text/css">
</head>



<h2 class="mt-4 mb-4 text-center" id="myservices">@_localizer["Following"]</h2>
<table class="table table-hover table-responsive-md mt-2" id="Table1">
    <thead>
        <tr>
            <th class="text-center">
                @_localizer["Image"]
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Vendor.Title)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Vendor.VendorTypeDb)
            </th>
            <th class="text-center" style="min-width: 200px;">
                @Html.DisplayNameFor(model => model.Vendor.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="height:30px">
                <td class="text-center">
                    @if (item.Vendor.Image == null)
                    {
                        <img src="~/Assets/localSeller.png" style="width:50px ; height:50px; border-radius: 50%; align-self:center;" />
                    }
                    else
                    {
                        <img src="data:image;base64,@System.Convert.ToBase64String(item.Vendor.Image)" class="mt-3" style="width:50px; height: 50px; border-radius: 50%; align-self:center;" />
                    }
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Vendor.Title)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Vendor.VendorType)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Vendor.Address)
                </td>
                <td class="text-center">
                    <button data-id="@item.Vendor.ID" class="btn btn-outline-dark w-100 delete" onclick="unfollowBtnClick(@item.Vendor.ID)">@_localizer["Unfollow"]</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(".delete").on("click", function () {
        var tr = $(this).closest('tr');
        tr.remove();
    });
    function unfollowBtnClick(id) {

        $.ajax({
            type: "POST",
            url: '/Follower/Unfollow/' + id,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            error: function (e) {
                alert("Error occured when trying to unfollow vendor");
            }
        });
    }
</script>